<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Our First Application</title>
</head>
<body>
    {{{body}}}

    <ol>
      <li><a href="/projects">Projects</a></li>
    </ol>
</body>
</html>
